body {
    background-color: #FAFAFA; 
}

.navbar {
    background-color: #4f6d84;
}

.nav-link {
    color: white !important; 
}
.nav-link:hover {
    text-decoration: underline !important; 
}

.nav-link.text-danger {
    color: #c0c0c0 !important;
}

.nav-link.text-danger:hover {
    color: #ffffff !important; 
}

.card {
    width: 100%;
    margin: auto; 
    flex-direction: column;
}

.ticket-details {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding-left: 15px;
    padding-right: 15px;
}

.ticket-row {
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #ddd; 
    padding: 5px 0;
}

.ticket-row:first-child {
    border-top: 2px solid #ddd; 
    padding-top: 10px; 
}

.ticket-item {
    flex: 1;
    text-align: left; 
}

.ticket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 875px; 
    margin: auto;
}

.tickets-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin: auto; 
    padding: 5px; 
}

.ticket-btn-add {
    width: 125px;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #9ac767;
    border: none;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.ticket-actions {
    display: flex;
    gap: 5px; 
    justify-content: flex-end;
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-right: 5px; 
}

.ticket-btn-add:hover {
    background-color: #8bb35d;
    color: #ffffff;
}

.tickets-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin: auto; 
    padding: 10px; 
}

.pagination {
    margin-bottom: 10px; 
}

.pagination .page-item .page-link {
    background-color: white; 
    color: #4f6d84; 
    border: 1px solid #e9ecef;
}

.pagination .page-item.active .page-link {
    background-color: #4f6d84;
    color: white;
    border: 1px solid #4f6d84;
}

.pagination .page-item .page-link:hover {
    background-color: #e9ecef;
    color: #4f6d84;
}

.ticket-btn-view {
    width: 75px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #21afda;
    border: none;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.ticket-btn-view:hover {
    background-color: #1e9ec5;
    color: #ffffff;
}

.ticket-btn-edit {
    width: 75px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #f5a938;
    border: none;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.ticket-btn-edit:hover {
    background-color: #d89633;
    color: #ffffff;
}

.ticket-btn-delete {
    width: 75px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #d9534f;
    border: none;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.ticket-btn-delete:hover {
    background-color: #bb4743;
    color: #ffffff;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 15px;
    background-color: #4F6D84; 
    color: #FFFFFF; 
}

.comment-card {
    margin: 5px auto; 
    padding: 10px; 
    border: 1px solid #ddd; 
    width: 100%;
 }

 .comment-header {
    display: flex;
    justify-content: left;
    align-items: start; 
    padding: 5px;
    margin: 10px;
    width: 100%;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 5px;
    border-top: 1px solid #ddd; 
}

.comment{
    margin: 5px auto; 
    width: 100%;
 }

.dropdown-fields {
    display: flex;
    gap: 20px; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    margin: 10px auto;
    flex-wrap: wrap;
}

.dropdown-group {
    display: flex;
    align-items: center; 
    gap: 10px; 
    flex: 1;
}

.dropdown-group label {
    text-align: right;
}

.title-group {
    display: flex;
    align-items: center; 
    gap: 23px; 
}

.edit-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin: auto; 
    padding: 5px; 
}

.ticket-btn-cancel {
    width: 125px;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #d9534f;
    border: none;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.ticket-btn-cancel:hover {
    background-color: #bb4743;
    color: #ffffff;
}




