<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="ticket-container">
    <div class="card">
    <h4 class="card-header">Create New Ticket</h4>
    <form class="card-body" method="POST">
        {{ form.hidden_tag() }} 
        <div class="title-group">
            <label class="form-label" for="title">Title:</label>
            {{ form.title(class="form-control", id="title") }} 
        </div>
        <div class="dropdown-fields">    
            <div class="dropdown-group">
                <label for="priority">Priority:</label>
                {{ form.priority(class="form-select", id="priority") }} 
            </div>       
            {% if current_user.admin %}
            <div class="dropdown-group">
                <label for="assignee">Assignee:</label>
                {{ form.assignee(class="form-select", id="assignee") }}
            </div>
            {% else %}
                {{ form.assignee(hidden=True) }}
            {% endif %}
        </div>
        <div>
            {{ form.description(class="form-control", rows="10" , placeholder="Type your description here...") }} 
        </div>
        <div class="edit-footer">
            <a href="{{ url_for('tickets.homepage') }}"  class="btn ticket-btn-cancel">Cancel</a>
            {{ form.submit (class="btn ticket-btn-add") }}
        </div>
    </form>
    </div>
    <div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
</div>
{% endblock %}