{% extends "base.html" %}
{% block content %}
<div class="ticket-container">
    <div class="card">
        <h4 class="card-header">Edit Ticket</h4>
        <form class="card-body" method="POST">
            {{ form.hidden_tag() }}
            <div>
                <label class="form-label" for="title">Title:</label>
                {{ form.title(class="form-control", id="title") }} 
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div class="dropdown-fields">
                {% if current_user.admin %}
                <div class="dropdown-group">
                    <label for="status">Status:</label>
                    {{ form.status(class="form-select", id="status") }} 
                    {% for error in form.status.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.status(hidden=True) }}
                    <p>Status: {{ ticket.status }}</p>
                {% endif %}
                {% if current_user.admin %}
                <div class="dropdown-group">
                    <label for="assignee">Assignee:</label>
                    {{ form.assignee(class="form-select", id="assignee") }}
                    {% for error in form.assignee.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.assignee(hidden=True) }}
                    <p>Assignee: {{ ticket.assignee.username}}</p>
                {% endif %}
                <div class="dropdown-group">
                    <label for="priority">Priority:</label>
                    {{ form.priority(class="form-select", id="priority") }} 
                    {% for error in form.priority.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div>
                <label class="form-label" for="description">Description:</label>
                {{ form.description(class="form-control", rows="10", id="description") }} 
                {% for error in form.description.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div class="edit-ticket-footer">
                <a href="{{ url_for('tickets.view_ticket', id=ticket.id) }}" class="btn ticket-btn-cancel">Cancel</a>
                {{ form.submit (class="btn ticket-btn-add") }}
            </div>

        </form>
    </div>
</div>
{% endblock %}

