<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
</head>
<body>
    <h1>Tickets</h1>

        <a href="{{ url_for('tickets.create_ticket') }}" class="btn btn-success">Create Ticket</a>
    {% if tickets %} 
        {%for ticket in tickets %}
        <div>
            <div>   
                <h5>{{ ticket.title }}</h5>
                <h6>Priority: {{ ticket.priority }}</h6>
                <p>{{ ticket.description }}</p>
                <p>Status: {{ ticket.status }}</p>
                <div>
                    <small>Created by: {{ ticket.author.username }} at {{ticket.date_created.strftime('%Y-%m-%d %H:%M') }}</small>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div>No tickets found.</div>
    {% endif %}
</div>    
    <a href="{{url_for('auth.dashboard')}}"> Dashboard</a>
</body>
</html>